<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="db_hoc_tieng_anh" connectionString="Data Source=DESKTOP-AI52R61\SQLEXPRESS;Initial Catalog=QUANLYKHOAHOCTIENGANH;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>